<!--
    Começamos definindo o tipo de dado que a view vai trabalhar
-->

@model DetailsTodosViewModels;
<h1>@Model.PageTitle</h1>
<h2>Título: @Model.Todo.Title</h2>
<p>Descrição: @Model.Todo.Description</p>